
<%= render 'context_menu' %>

<%= render "shared/help", :content => "diplome_objects/help_messages/index_info", :size => "30x30" %> 

<ul class="diplome list">

  <% @diplomes.each do |diplome| %>
	
	<li>
 		<%= link_to diplome.sigle, diplome_object_path(diplome.id) %>
 		<div id="info">
   			<%= diplome.cycle%>, <%= diplome.facSigle %>
   		</div>
	</li>
  
  <% end %>

</ul>
