 <table>

   <div class="field">
    <tr>
        <td> <%= f.label :Cible %> : </td>
        <td> <%= f.text_field :target %> 
             <%= render "shared/help", :content => "contrainte_objects/help_messages/target_info", :size => "20x20" %> </br>
        </td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <td> <%= f.label :condition %> : </td>
      <td> <%= f.text_field :cond %>
           <%= render "shared/help", :content => "contrainte_objects/help_messages/cond_info", :size => "20x20" %> </br>
      </td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <td> <%= f.label :effet %> : </td>
      <td> <%= f.text_field :effet %>
           <%= render "shared/help", :content => "contrainte_objects/help_messages/effect_info", :size => "20x20" %> </br>
      </td>
    </tr>
  </div>

</table>