
<%= render 'context_menu' %>

<%= render "shared/help", :content => "cours_objects/help_messages/index_info", :size => "30x30" %> 

<%= render "shared/search_tool", :ctrl => :cours_objects %>

<%= will_paginate %>

<ul class="cours list">
  <% @cours_objects.each do |cours| %>
    <li>
        <%= link_to Sigle.find_by_pmodule_id(cours.id).sigle, cours_object_path(cours.id) %>,
        <div id="info">
            <%= cours.dptCharge %>,<%= cours.intitule %>
        </div>
    </li>
  <% end %>
</ul>

<%= will_paginate %>