<%= render 'context_menu' %>

<% 
	dlcc = DbLegalConstraintsChecker.new(@cours_object) 
	res = dlcc.check_all()
%>


<div id="box">
	<h4> Contraintes légales </h4>
	<% if(res) %>
		<div class="success">
			Contraintes légales satisfaites 
		</div>
	<% else %>
		<div class="error">	
			Contraintes légales non satisfaites
			<%= render 'shared/report_messages', :report => legal_report %>
		</div>	
	<% end %>
</div>

<div id="box">
	<h4> Présentation d'un cours </h4>
	<%= render @cours_object %>
</div>

<%= render 'pmodules/related_versions', :related_versions_list => @related_versions_list, :current_sigle => @cours_object.sigles_array[0]%>

<%= button_to 'Retour', '/cours_objects/index', :id => "button" %> 