
<%= render 'context_menu' %>

<%= form_for(@ensemble_object) do |f| %>
  <%= render 'shared/report_messages', :report => @report %>
  <%= render 'fields', :f => f %>

  <div class="actions">
    <%= f.submit "Modifier", :id => "button" %>
  </div>
  
<% end %>

<%= button_to 'Retour', '/ensemble_objects/index', :id => "button" %> 